<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button>Back</ion-back-button>
      <ion-title>TestMap</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="searchAddress()">SearchAddress</ion-button>
  <ion-button (click)="searchEstate2()">SearchEstate2</ion-button>
  <ion-button (click)="searchEstateSync()">sync1</ion-button>
  <ion-button (click)="markAddress()">Mark</ion-button>
  <ion-button (click)="estateArrays()">EstateInfo</ion-button>
  <ion-button (click)="createMapArray()">CreateArray</ion-button>
  <ion-button (click)="createMarkers()">CreateMarkers</ion-button>
  <div id="map" style="width:100%; height:100%;"></div>
</ion-content>
