<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button>Back</ion-back-button>
      <ion-title>search by district</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>{{ chosenDistrict }}</p>
  <ion-card *ngFor="let estate of estateData">
    <ion-card-content>
      <ion-card-title>{{ estate.property_name }} open</ion-card-title>
      <p>{{ estate.property_id }}</p>
      <ion-button
        (click)="UpdateActiveEstate(estate.property_id)"
        [routerLink]="[
          '/tabs/tab2/search-district/search-by-district/estate-info/',
          estate.property_id
        ]"
        routerDirection="forward"
        >Check</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
