<ion-header>
    <ion-toolbar> 
       <ion-title> Search options</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding-top">
  <p>{{ activeDistrict }}</p>
  <ion-button 
    expand="block"
    routerLink="/tabs/tab2/search-district"
    routerDirection="forward"
    (click)="ResetSelections()"
  >
    Go to Search by district
  </ion-button>

  <ion-button 
  expand="block"
  routerLink="/tabs/tab2/search-intended-use"
  routerDirection="forward"
  (click)="ResetSelections()"
>
  Go to Search by intended use
</ion-button>

<ion-button 
expand="block"
routerLink="/tabs/tab2/search-building"
routerDirection="forward"
(click)="ResetSelections()"
>
Go to Search by Buildings name
</ion-button>
</ion-content>
