<ion-header>
  <ion-toolbar>
    <ion-title> Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-label>
    <ion-title class="title" text-center style="padding-bottom: 16px"
      ><b>Oulu's real estates' consumption data</b>
      <b style="color:aqua"> {{ numberOfEstates }} estate data</b>
      <ion-button (click)="testTero()">getmarkers</ion-button>
      <ion-button (click)="showArray()">showArray</ion-button>
    </ion-title>
  </ion-label>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="title">About the city of Oulu</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img class="image" src="../../assets/img/oulu.jpg"></ion-img>
      <p>
        Oulu is Northern Finland’s largest and oldest city, located in the Gulf
        of Bothnia in the Oulujoki River delta. In the 19th century, Oulu was
        the town was Finland’s leading exporter of tar. Today, the city is home
        to more than 200,000 locals, and is a favourite destination for
        thousands of domestic and international leisure and business travellers.
      </p>
      <br />
      <p>
        Oulu consists of the cultural life of a modern business and tourism
        city. The uniqueness of the city is based on the fact that the hustle
        and bustle of the city centre areas make it easy to deviate to the peace
        and the greenery of the park, the sandy beach or the frozen sea.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="title"
        >About Oulu's consumption data</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <p>
        This application provides detailed information about the consumption of
        Oulu's real estates. After you have selected a real estate, you will
        find an overview about the yearly and monthly consumption.
      </p>
      <br />
      <p>
        The yearly consumption is displayed in a xxxxxxx. You can select your
        prefered year and see the data. The monthly of the selected data is
        shown xxxxx.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
