<ion-header>

</ion-header>

<ion-content>
  <ion-label>
    <ion-title>Oulus real estates' consumption data</ion-title>
  </ion-label>
    <ion-card>
      <ion-card-header>
        <ion-card-title>About Oulu</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="../../assets/img/oulu.jpg" styles="width: 100%; height: auto;"></ion-img>
        <p>Here could be some information about oulu</p>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>About consumption data</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Here is information about how the data is displayed on the app and how to read/use it</p>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block">Search by district</ion-button>
    <ion-button expand="block">Search by building</ion-button>
    <ion-button 
    expand="block"
    routerLink="/tabs/estate-info"
    routerDirection="root">estate-info site</ion-button>
</ion-content>
