<ion-header>
  <ion-toolbar> 
     <ion-title> Oulu Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-card class="card">
    <ion-card-header class="title">Oulus' real estates on map</ion-card-header>
    <ion-card-content>
        <ion-img class="image" src="../../assets/img/oulu2.jpg"></ion-img>
        <p>Here you can see the location of all the estates we have data from. 
          Clicking a dot on the map will bring you the name of the estate. 
          Click "open"-button under the estates name to find more details!
        </p>
    </ion-card-content>
  </ion-card>
  <ion-button
    expand="block"
    routerLink="/tabs/tab3/map-page"
    routerDirection="forward"
  >
    Go to map
  </ion-button>
</ion-content>
