#mapid {
  height: 180px;
}
.button {
  --background: var(--ion-color-purple);
  --background-activated: var(--ion-color-lightblue2); 
}
.image {
  width: 100%; 
  height: auto;
  padding-bottom: 10px;
  border-radius: 25px;  
}

.card {
  background-color: var(--ion-color-lightblue2);
  width: 90%;
  margin: 0 auto; 
  float: none;
  margin-bottom: 10px; 
  border: 1px; 
  border-style: solid; 
  border-color: var(--ion-color-darkblue); 
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  color: var(--ion-color-grey);  
}