<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button>Back</ion-back-button>
      <ion-title>Estate details Id {{ urlId }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label>
    <ion-title *ngFor="let estate of selectedEstate">{{
      estate?.property_name
    }}</ion-title>
  </ion-label>
  <ion-label>
    <ion-card *ngFor="let estate of selectedEstate">
      <ion-card-header>
        <ion-card-title>General details:</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Property-ID: {{ estate?.property_id }}</p>
        <br />
        <p>Intended use: {{ estate?.intended_use }}</p>
        <br />
        <p>District name: {{ estate?.district_name }}</p>
        <br />
        <p>Street address: {{ estate?.property_address }}</p>
        <br />
        <p>Postal code: {{ estate?.postal_code }}</p>
        <br />
        <p>Size: {{ estate?.totalfloorarea }}</p>
        <br />
        <p>Building year: {{ estate?.year_built }}</p>
        <br />
        <p>Renovation year: {{ estate?.year_renovated }}</p>
        <ion-button expand="full" (click)="forMap()">Open Map </ion-button>
      </ion-card-content>
    </ion-card>
    <!--<div id="estate_map" style="width:50%; height:50%;"></div>-->
    <ion-card *ngFor="let year of years">
      <ion-card-header>
        <ion-card-title>Vuosi {{ year[0].year }}</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngFor="let part of year">
        <p *ngIf="part.consumption_measure == 'Sähkö'">
          {{ part?.consumption }} kwh
        </p>
        <p *ngIf="part.consumption_measure == 'Lämpö'">
          {{ part?.consumption }} kwh
        </p>
        <p *ngIf="part.consumption_measure == 'Vesi'">
          {{ part?.consumption }} m3
        </p>
        <p>{{ part?.consumption_measure }}</p>
      </ion-card-content>
    </ion-card>

    <!--
      <ion-card *ngFor="let year of years">
        <ion-card-header>
          <ion-card-title>Consumption data:</ion-card-title>
        </ion-card-header>
        <p button tappable (click)="expanded = !expanded">
          Year: (year)
        </p>
  
        <ion-card-content *ngIf="expanded">
          Here the card content
        </ion-card-content>
      </ion-card>
      -->
  </ion-label>
</ion-content>
